<h1><%= @book.title %></h1>
<h1><%= @book.pages %></h1>
<h1><%= @book.year_pub %></h1>
<img src="<%= @book.image %>" alt="large book image"/>

<h1>Book Reviews</h1>
<section class="book_review">
  <% @book.reviews.each do |review| %>
    <section class="review_<%= review.id %>">
      <p><%= review.title %></p>
      <p>Score: <%= review.score %></p>
      <p><%= review.review_text %></p>
    </section>
  <% end %>
</section>
