<h1>Enter a new book review:</h1>

<%= form_for [@book, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :score %>
  <%= f.number_field :score, in: 1..5 %>

  <%= f.label :review_text %>
  <%= f.text_field :review_text %>

  <%= f.label :user %>
  <%= f.text_field :user %>

  <%= f.submit :Save %>
<% end %>
